@mixin font-primary ($font-color: white) {
    font-family: 'roboto',sans-serif;
    color:$font-color;
    font-size: 1rem;
}

@mixin font-secondary ($font-color: white, $font-size:3rem, $letter-spacing:0.67px, $line-height:3rem) {
    font-family: 'Poppins', sans-serif;
    font-size: $font-size;
    color: $font-color;
    letter-spacing: $letter-spacing;
    line-height: $line-height;
}

@mixin boton ($margin: 0) {
    display: flex;
    margin: $margin;
    width: 144px;
    height: 48px;
    border-radius: 25px;
    background-color: #E0752F;
    justify-content: center;
    align-items: center;
}